{% extends "base.html" %}
{% load static %}

{% block content %}

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima rem repellendus iusto molestiae natus, expedita harum sunt dolore in quia debitis, obcaecati temporibus possimus commodi assumenda doloribus laboriosam aliquam perspiciatis.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima rem repellendus iusto molestiae natus, expedita harum sunt dolore in quia debitis, obcaecati temporibus possimus commodi assumenda doloribus laboriosam aliquam perspiciatis.</p>
<img src=" {% static "images/flower.jpg" %} " width='400px' alt="">
{% endblock content %}